% ex:ts=2:sw=2:sts=2:et
% -*- tab-width: 2; c-basic-offset: 2; indent-tabs-mode: nil -*-
{erl_opts, [debug_info]}.
{deps, [
  {gproc, "0.9.0"}
]}.

{relx, [
  {release, {srcd, git}, [srcd, sasl]},
  {sys_config_src, "config/sys.config.src"},
  {dev_mode, false},
  {include_erts, true}
]}.

{profiles, [
  {prod, []},
  {test, [
    {relx, [
      %{release, {srcd, {git, short}}, [srcd, sasl]},
      {include_erts, false},
      {sys_config_src, "config/test.config.src"}
    ]}
  ]}
]}.

{shell, [
    {config, "config/sys.config.src"},
    {apps, [srcd]}
]}.
